requests~=2.32.3
PyYAML~=6.0.2
types-PyYAML~=6.0.12
types-requests~=2.32.0

sphinx-rtd-theme~=3.0.2
docutils~=0.21.2
Sphinx~=7.4.7
python-dateutil~=2.9.0.post0
polib~=1.2.0
pytest~=8.3.4
importlib_metadata~=8.6.1
lingva~=5.0.5
convertdate~=2.4.0
hijridate~=2.5.0
GitPython~=3.1.44
PyGithub~=2.5.0
setuptools~=75.6.0
